Repository hmcts/aks-sds-deploy, pull requests merged in 2022-11, with the labels that each got.

#248 Dtspo 9696 cnp update
  .terraform-version
  azure-pipelines.yml
  components/00-genesis/01-inputs-required.tf
  components/00-genesis/10-genesis.tf
  components/01-network/10-inputs-required.tf
  components/01-network/12-interpolated-defaults.tf
  components/01-network/20-network.tf
  components/01-network/21-peering.tf
  components/01-network/22-private-dns.tf
  components/05-mis/01-inputs-required.tf
  components/05-mis/02-inputs-default.tf
  components/05-mis/03-interpolated-defaults.tf
  components/05-mis/10-managed-identity.tf
  components/05-mis/application-managed-identity-rg.tf
  components/05-mis/kubelet-identity.tf
  components/05-mis/log-analytics.tf
  components/05-mis/network-permissions.tf
  components/07-network-rg/10-inputs-required.tf
  components/07-network-rg/20-network-rg.tf
  components/aks/aks.tf
  components/aks/init.tf
  components/aks/inputs-required.tf
  components/aks/interpolated-defaults.tf
  pipeline-steps/bootstrap.yaml
  pipeline-steps/deploy-network.yaml
  pipeline-steps/deploy-service.yaml
  pipeline-steps/destroy-service.yaml
  pipeline-steps/genesis.yaml
  pipeline-steps/keyvault-read.yaml
  pipeline-steps/managed_identity.yaml
Labels: sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes

#297 Return current kubernetes version when no non-preview upgrades available
  updatecli/get-latest-aks-upgrade-version.sh
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#295 added new variable in pipelines file
  azure-pipelines.yml
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#298 Move AKS clusters stage to hmcts-cftptl-agent-pool self hosted pool
  azure-pipelines.yml
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#301 Revert "Move AKS clusters stage to hmcts-cftptl-agent-pool self hoste…
  azure-pipelines.yml
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#302 move aks actions to self hosted ado agentpool
  azure-pipelines.yml
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#303 Add 180 mintues explicit timeout to DeployInfrastructure job
  azure-pipelines.yml
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#313 Remove the need to change the dev and demo config
  updatecli/get-latest-aks-upgrade-version.sh
  updatecli/updatecli.d/aks-version.yaml
  updatecli/values.github-action.yaml
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#304 Disable AKS containerInsights STG
  environments/aks/stg.tfvars
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#323 updated Routes to allow postgresql
  environments/01-network/ptl.tfvars
Labels: sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes, sbox-aks/destroy
