Repository hmcts/aks-sds-deploy, pull requests merged in 2023-07, with the labels that each got.

#466 Update UDR for vh-perf-test-test
  environments/01-network/test.tfvars
Labels: sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes

#469 update subnet for private endpoints
  environments/01-network/ptlsbox.tfvars
Labels: sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes

#470 Added privatelink azurewebsites to privatelink set
  components/01-network/11-inputs-default.tf
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#472 Upgrade sds clusters
  environments/aks/stg.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#474 Upgrade PTL post-upgrade
  environments/aks/ptl.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#475 Reflect prod00 upgrade in code
  environments/aks/prod.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#476 Reflect 01 upgrade in code
  environments/aks/prod.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#478 enable oms agent on test for containerInsights
  environments/aks/test.tfvars
Labels: Genesis/no-changes, Network/add-or-update, Managed_Identity/add-or-update, Aks/add-or-update

#479 Upgrade sds clusters
  environments/aks/demo.tfvars
Labels: Genesis/no-changes, Network/add-or-update, Managed_Identity/add-or-update, Aks/add-or-update

#481 Update lower pre vnets to flow via nonprod Palo
  environments/01-network/ptl.tfvars
Labels: Genesis/no-changes, Network/add-or-update, Managed_Identity/add-or-update, Aks/add-or-update

#482 Remove uk west hub non prod
  components/01-network/11-inputs-default.tf
  components/01-network/21-peering.tf
Labels: Genesis/no-changes, Network/add-or-update, Managed_Identity/add-or-update, Aks/add-or-update

#483 DTSPO-14613: Cleanup UKWEST refs in repos
  azure-pipelines.yml
  components/01-network/11-inputs-default.tf
  components/01-network/20-network.tf
Labels: Genesis/no-changes, Network/add-or-update, Managed_Identity/add-or-update, Aks/add-or-update

#484 Update ptl.tfvars
  environments/01-network/ptl.tfvars
Labels: Genesis/no-changes, Network/add-or-update, Managed_Identity/add-or-update, Aks/add-or-update

#480 DTSPO-13971 - Enable auto-shutdown via tag for dev, staging and ptl environments (DO NOT MERGE)
  environments/aks/dev.tfvars
  environments/aks/ptl.tfvars
  environments/aks/stg.tfvars
Labels: Genesis/no-changes, Network/add-or-update, Managed_Identity/add-or-update, Aks/add-or-update, do-not-merge
