Repository hmcts/aks-sds-deploy, pull requests merged in 2023-02, with the labels that each got.

#369 Enable demo 00
  environments/aks/demo.tfvars
Labels: sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes

#373 Add external dns perms for preview and remove for demo
  components/05-mis/10-managed-identity.tf
Labels: sbox-01-network/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-05-mis/no-changes

#374 Update sbox.tfvars
  environments/aks/sbox.tfvars
Labels: sbox-01-network/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-05-mis/no-changes, sbox-aks/destroy

#375 change standard sku sizes in sds
  components/aks/aks.tf
  components/aks/inputs-required.tf
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#378 DTSPO-12090 - Update sbox-01 to 1.25
  environments/aks/sbox.tfvars
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#380 DTSPO-12090 - Update sbox-00 to 1.25
  environments/aks/sbox.tfvars
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes
