Repository hmcts/aks-sds-deploy, pull requests merged in 2023-10, with the labels that each got.

#504 version-upgrade
  environments/aks/demo.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#505 cluster version upgrade
  environments/aks/demo.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#506 cluster-upgrade
  environments/aks/ptlsbox.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#507 cluster-upgrade
  environments/aks/stg.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#508 Dtspo 14192 cluster upg
  environments/aks/stg.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#509 DTSPO-15290 Create node pool for cronjobs
  components/aks/aks.tf
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#511 upgrade ithc cluster 00 to v1.27
  environments/aks/ithc.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#510 DTSPO-15290 adding cronjob node pool
  components/aks/aks.tf
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#513 upgrading ithc 01 to v1.27
  environments/aks/ithc.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#516 DTSPO-14193: Update cluster to new and latest version
  environments/aks/ptl.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#517 DTSPO-12677 Add admin mis
  azure-pipelines.yml
  components/05-mis/02-inputs-default.tf
  components/05-mis/10-managed-identity.tf
  components/aks/aks.tf
  environments/05-mis/demo.tfvars
  environments/05-mis/dev.tfvars
  environments/05-mis/ithc.tfvars
  environments/05-mis/prod.tfvars
  environments/05-mis/ptl.tfvars
  environments/05-mis/ptlsbox.tfvars
  environments/05-mis/sbox.tfvars
  environments/05-mis/stg.tfvars
  environments/05-mis/test.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#520 DEV: change aks-dev-mi role assignement to subscription level in STG
  components/05-mis/10-managed-identity.tf
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#521 Update admin-mi ID
  components/05-mis/10-managed-identity.tf
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#522 Update principal_id reference to correct value
  components/05-mis/10-managed-identity.tf
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#523 Give admin mi acme access
  components/05-mis/10-managed-identity.tf
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#524 Add missing role assignments back
  components/05-mis/10-managed-identity.tf
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#526 DTSPO-12677 Add stg-mi access to dev acme vault
  components/05-mis/10-managed-identity.tf
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#527 DTSPO-14193: Updating k8s version
  environments/aks/prod.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#528 DTSPO-14193: Update k8s version for 01
  environments/aks/prod.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#530 Update Terraform azurerm to v3.78.0 (#381)
  components/00-genesis/00-init.tf
  components/01-network/00-init.tf
  components/05-mis/00-init.tf
  components/07-network-rg/00-init.tf
  components/aks/init.tf
Labels: Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update, Genesis/add-or-update

#531 Add startup mode for sbox clusters
  components/aks/aks.tf
  components/aks/inputs-default.tf
  environments/aks/sbox.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy
