Repository hmcts/aks-sds-deploy, pull requests merged in 2023-11, with the labels that each got.

#532 Disable AKS diagnostics in nonprod
  components/aks/aks.tf
  components/aks/inputs-default.tf
  environments/aks/prod.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#533 add prod,stg,test postgres-expanded subnet
  components/01-network/10-inputs-required.tf
  components/01-network/20-network.tf
  environments/01-network/demo.tfvars
  environments/01-network/dev.tfvars
  environments/01-network/ithc.tfvars
  environments/01-network/prod.tfvars
  environments/01-network/ptl.tfvars
  environments/01-network/ptlsbox.tfvars
  environments/01-network/sbox.tfvars
  environments/01-network/stg.tfvars
  environments/01-network/test.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#534 Dtspo 15113
  components/01-network/20-network.tf
  environments/aks/sbox.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#537 Drop to one cluster on ITHC
  environments/aks/ithc.tfvars
Labels: Network/no-changes, Managed_Identity/add-or-update, Aks/destroy, Genesis/add-or-update
