Repository hmcts/aks-sds-deploy, pull requests merged in 2023-08, with the labels that each got.

#486 DTSPO-14034 - Use arm linux nodes in sbox
  components/aks/aks.tf
  components/aks/inputs-default.tf
  environments/aks/sbox.tfvars
Labels: Genesis/no-changes, Network/add-or-update, Managed_Identity/add-or-update, Aks/add-or-update

#439 updating keyvault to use service principle
  azure-pipelines.yml
Labels: sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, Genesis/no-changes, Network/no-changes, Aks/add-or-update, Managed_Identity/no-changes

#487 Move to new patches
  bootstrap/deploy-flux.sh
Labels: Genesis/no-changes, Network/no-changes, Aks/add-or-update, Managed_Identity/no-changes

#488 added ASO to bootstrap
  bootstrap/deploy-flux.sh
  components/aks/aks.tf
  components/aks/inputs-default.tf
  environments/aks/sbox.tfvars
Labels: Genesis/no-changes, Network/no-changes, Aks/add-or-update, Managed_Identity/no-changes

#490 enabling workload identity for all the environment
  components/aks/inputs-default.tf
  environments/aks/dev.tfvars
  environments/aks/ithc.tfvars
  environments/aks/ptl.tfvars
  environments/aks/ptlsbox.tfvars
  environments/aks/sbox.tfvars
  environments/aks/stg.tfvars
  environments/aks/test.tfvars
Labels: Genesis/no-changes, Network/no-changes, Aks/add-or-update, Managed_Identity/no-changes

#491 removed flags as its applied at module level
  components/aks/aks.tf
  components/aks/inputs-default.tf
Labels: Genesis/no-changes, Network/no-changes, Aks/add-or-update, Managed_Identity/no-changes

#493 fix typo
  bootstrap/deploy-flux.sh
Labels: Genesis/no-changes, Network/no-changes, Aks/add-or-update, Managed_Identity/no-changes
