Repository hmcts/aks-sds-deploy, pull requests merged in 2023-03, with the labels that each got.

#386 Add ASO role assignment to SDS
  azure-pipelines.yml
  components/05-mis/02-inputs-default.tf
  components/05-mis/10-managed-identity.tf
  environments/05-mis/demo.tfvars
  environments/05-mis/dev.tfvars
  environments/05-mis/ithc.tfvars
  environments/05-mis/prod.tfvars
  environments/05-mis/sbox.tfvars
  environments/05-mis/stg.tfvars
  environments/05-mis/test.tfvars
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#388 DTSPO-12091 - Update ithc-01 to 1.25
  environments/aks/ithc.tfvars
Labels: sbox-aks/add-or-update, sbox-07-network-rg/no-changes, sbox-01-network/no-changes

#390 DTSPO-12091 - Update ithc-00 to 1.25
  environments/aks/ithc.tfvars
Labels: sbox-aks/add-or-update, sbox-07-network-rg/no-changes, sbox-01-network/no-changes

#391 DTSPO-12074 add pipelinetests
  azure-pipelines.yml
  scripts/apim.test.ts
  scripts/babel.config.js
  scripts/jest.config.ts
  scripts/package.json
  scripts/pipeline.test.ts
  scripts/yarn.lock
Labels: sbox-aks/add-or-update, sbox-07-network-rg/no-changes, sbox-01-network/no-changes

#393 DTSPO-12074 update pipelinetests
  azure-pipelines.yml
Labels: sbox-aks/add-or-update, sbox-07-network-rg/no-changes, sbox-01-network/no-changes

#394 Migrate disk RG to deploy repo
  components/00-genesis/99-outputs.tf
  components/aks/aks.tf
  components/aks/disk.tf
  components/aks/interpolated-defaults.tf
Labels: sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-aks/destroy

#395 DTSPO-12091 - Update test-01 to 1.25
  environments/aks/test.tfvars
Labels: sbox-aks/add-or-update, sbox-07-network-rg/no-changes, sbox-01-network/no-changes

#396 DTSPO-12091 - Update stg-01 to 1.25
  environments/aks/stg.tfvars
Labels: sbox-aks/add-or-update, sbox-07-network-rg/no-changes, sbox-01-network/no-changes

#397 DTSPO-12091 - Update stg-00 to 1.25
  environments/aks/stg.tfvars
Labels: sbox-aks/add-or-update, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#398 DTSPO-12091 - Update test-00 to 1.25
  environments/aks/test.tfvars
Labels: sbox-aks/add-or-update, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#405 DTSPO-12091 - Update demo-01 to 1.25
  environments/aks/demo.tfvars
Labels: sbox-aks/add-or-update, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#406 DTSPO-12091 - Update demo-00 to 1.25
  environments/aks/demo.tfvars
Labels: sbox-aks/add-or-update, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#407 DTSPO-12091 - Update dev-01 to 1.25
  environments/aks/dev.tfvars
Labels: sbox-aks/add-or-update, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#408 DTSPO-12091 - Update ptlsbox-00 to 1.25
  environments/05-mis/ptlsbox.tfvars
  environments/aks/ptlsbox.tfvars
Labels: sbox-aks/add-or-update, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes
