Repository hmcts/aks-sds-deploy, pull requests merged in 2023-06, with the labels that each got.

#444 Updates VPN peering to new module
  components/01-network/21-peering.tf
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-05-mis/no-changes, sbox-01-network/destroy

#441 Updating pluto run in github action
  .github/workflows/pluto.yaml
  .github/workflows/run-updatecli.yaml
  updatecli/updatecli.d/aks-version.yaml
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-05-mis/no-changes, sbox-01-network/destroy

#446 Upgrade Sbox 00 version
  environments/aks/sbox.tfvars
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-05-mis/no-changes, sbox-01-network/destroy

#442 Updating renovate config
  renovate.json
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#447 Sbox upgrade
  environments/aks/sbox.tfvars
Labels: sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/no-changes, sbox-05-mis/no-changes

#452 Adds moved blocks for peering modules
  components/01-network/21-peering.tf
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#453 Align repo with changes to aks-module-network
  components/01-network/10-inputs-required.tf
  components/01-network/20-network.tf
  environments/01-network/demo.tfvars
  environments/01-network/dev.tfvars
  environments/01-network/prod.tfvars
  environments/01-network/stg.tfvars
  environments/01-network/test.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#454 feat: added route for jumpbox nonprod
  environments/01-network/ptl.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#456 Upgrade ithc01 aks to 1.26
  environments/aks/ithc.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#457 Upgrade ITHC-00 AKS version to 1.26
  environments/aks/ithc.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#458 HMIS-1206 - Fixing HMI to VH connection in Dev and Test
  environments/01-network/dev.tfvars
  environments/01-network/test.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#459 Add new subnet in ptl and ptlsbox
  environments/01-network/ptl.tfvars
  environments/01-network/ptlsbox.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#460 Upgrade ss-test-01 to 1.26 AKS version
  environments/aks/test.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#461 Upgrade sds-test-00 to 1.26 AKS version
  environments/aks/test.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#462 Upgrade ss-stg-01 to 1.26 AKS version
  environments/aks/stg.tfvars
Labels: sbox-01-network/add-or-update, sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#464 upgrade ptlsbox to 1.26
  environments/aks/ptlsbox.tfvars
Labels: sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes

#467 Remove ukw-hub-sbox-int
  components/01-network/11-inputs-default.tf
  components/01-network/21-peering.tf
Labels: sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/destroy

#468 Change back to orig but change for_each logic
  components/01-network/21-peering.tf
Labels: sbox-05-mis/add-or-update, sbox-aks/add-or-update, sbox-00-genesis/no-changes, sbox-07-network-rg/no-changes, sbox-01-network/destroy
