Repository hmcts/aks-sds-deploy, pull requests merged in 2024-12, with the labels that each got.

#658 Dtspo 22631 - custom settings per aks cluster on SDS
  components/aks/aks.tf
  components/aks/init.tf
  components/aks/inputs-default.tf
  components/aks/inputs-required.tf
  environments/aks/demo.tfvars
  environments/aks/dev.tfvars
  environments/aks/ithc.tfvars
  environments/aks/prod.tfvars
  environments/aks/ptl.tfvars
  environments/aks/ptlsbox.tfvars
  environments/aks/sbox.tfvars
  environments/aks/stg.tfvars
  environments/aks/test.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes

#660 Update demo.tfvars
  environments/aks/demo.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes

#659 Restore sbox 01 to non-automatic
  components/aks/aks.tf
  environments/aks/sbox.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructure/destroy, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes

#661 DTSPO-22074 - Fix the name issue on the pipeline
  azure-pipelines.yml
Labels: Aks_sbox - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update
