Repository hmcts/aks-sds-deploy, pull requests merged in 2024-05, with the labels that each got.

#583 add in azure lb subnet for staging
  environments/01-network/stg.tfvars
Labels: Managed_Identity_sbox/add-or-update, Aks_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_demo/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Network_stg/add-or-update

#584 Adding BAIS non-prod VNET to peerings
  environments/01-network/ptl.tfvars
Labels: Managed_Identity_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Genesis_test/no-changes, Aks_ptlsbox/add-or-update, Network_ithc/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_test/no-changes, Network_ptlsbox/no-changes, Network_stg/no-changes, Network_demo/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Aks_sbox/no-changes, Aks_test/no-changes, Aks_stg/no-changes, Aks_demo/no-changes, Aks_dev/no-changes, Aks_ithc/no-changes, Network_ptl/add-or-update

#585 feat: added routes to pin Hendon traffic to Palo vm0
  environments/01-network/demo.tfvars
Labels: Managed_Identity_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Genesis_test/no-changes, Aks_ptlsbox/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_test/no-changes, Network_ptlsbox/no-changes, Network_stg/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Aks_sbox/no-changes, Aks_test/no-changes, Aks_stg/no-changes, Aks_demo/no-changes, Network_demo/add-or-update, Aks_dev/no-changes, Aks_ithc/no-changes

#586 feat: added routes to pin IH traffic to single Palo
  environments/01-network/demo.tfvars
  environments/01-network/dev.tfvars
  environments/01-network/ithc.tfvars
  environments/01-network/prod.tfvars
  environments/01-network/stg.tfvars
  environments/01-network/test.tfvars
Labels: Managed_Identity_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Genesis_test/no-changes, Aks_ptlsbox/add-or-update, Network_ptl/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_ptlsbox/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Aks_sbox/no-changes, Aks_test/no-changes, Aks_stg/no-changes, Aks_demo/no-changes, Network_demo/add-or-update, Aks_dev/no-changes, Aks_ithc/no-changes, Network_stg/add-or-update, Network_test/add-or-update, Network_prod/add-or-update, Network_ithc/add-or-update

#587 fix: correct Hendon demo route
  environments/01-network/demo.tfvars
Labels: Managed_Identity_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Genesis_test/no-changes, Aks_ptlsbox/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_test/no-changes, Network_ptlsbox/no-changes, Network_stg/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Aks_sbox/no-changes, Aks_test/no-changes, Aks_stg/no-changes, Aks_demo/no-changes, Network_demo/add-or-update, Aks_dev/no-changes, Aks_ithc/no-changes

#588 Add missing routes to dynatrace
  environments/01-network/demo.tfvars
  environments/01-network/dev.tfvars
  environments/01-network/prod.tfvars
  environments/01-network/stg.tfvars
  environments/01-network/test.tfvars
Labels: Managed_Identity_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Genesis_test/no-changes, Aks_ptlsbox/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_sbox/no-changes, Network_ptlsbox/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Aks_sbox/no-changes, Aks_test/no-changes, Aks_stg/no-changes, Aks_demo/no-changes, Network_demo/add-or-update, Aks_dev/no-changes, Aks_ithc/no-changes, Network_stg/add-or-update, Network_dev/add-or-update, Network_test/add-or-update, Network_prod/add-or-update
