Repository hmcts/aks-sds-deploy, pull requests merged in 2024-04, with the labels that each got.

#568 fix: update tier in prod
  environments/aks/prod.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#569 additional subnet for az lb
  environments/01-network/demo.tfvars
Labels: Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update, Genesis/add-or-update

#570 DTSPO-16590 - Update sbox.tfvars
  components/aks/aks.tf
  environments/aks/sbox.tfvars
Labels: Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update, Genesis/add-or-update

#571 DTSPO-16590 - upgrade ptlsbox
  environments/aks/ptlsbox.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#572 DTSPO-16591 - upgrade DEV
  environments/aks/dev.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#573 DTSPO-16591 - upgrading ITHC
  environments/aks/ithc.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#574 DTSPO-16591 - demo upgrade
  environments/aks/demo.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#575 DTSPO-16591 - upgrade test clusters
  environments/aks/test.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#576 DTSPO-16591 - upgrade stg
  environments/aks/stg.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#577 DTSPO-16592 - upgrading sds ptl cluster
  environments/aks/ptl.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#578 DTSPO-16592 - upgrading sds prod cluster
  environments/aks/prod.tfvars
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#560 DTSPO-15799: Refactor pipeline to run sequentially on all enviroments
  azure-pipelines.yml
  pipeline-steps/bootstrap.yaml
  pipeline-steps/deploy-service.yaml
  scripts/checking-clusters.sh
Labels: Genesis/no-changes, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update, Managed_Identity_sbox/add-or-update, Aks_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Aks_ptl/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_stg/no-changes, Network_demo/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes

#580 add new pool
  azure-pipelines.yml
Labels: Managed_Identity_sbox/add-or-update, Aks_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Aks_ptl/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_stg/no-changes, Network_demo/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes
