Repository hmcts/aks-sds-deploy, pull requests merged in 2024-10, with the labels that each got.

#635 DTSPO-19113: Increase max pods per node
  environments/aks/ithc.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/destroy, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes

#636 DTSPO-19332 - Add darts-modernisation routes
  environments/01-network/ptl.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_stg - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/no-changes, Aks_test - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/no-changes, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes, Aks_dev - DeployInfrastructure/no-changes, Network_ptl - DeployInfrastructure/add-or-update

#638 Adding a routing rule to enable traffic flow from dev environment to interim hosting
  environments/01-network/dev.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes

#637 DTSPO-19027 Testing Deployment of Automatic Cluster on sbox1
  .terraform-version
  components/aks/aks.tf
  components/aks/init.tf
  components/aks/inputs-default.tf
  components/aks/inputs-required.tf
  environments/aks/sbox.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructure/destroy, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes

#640 DTSPO-19027 Updating settings on automatic cluster
  components/aks/aks.tf
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes

#645 Update sbox.tfvars
  components/aks/aks.tf
  environments/aks/sbox.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructure/destroy, Network_demo - DeployInfrastructure/no-changes

#643 VIH-11053 increase test aks linux node pool max limit to 16
  environments/aks/test.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes

#644 DTSPO-19027-updating-auto-cluster-settings
  components/aks/aks.tf
  environments/aks/sbox.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructure/destroy, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes

#646 DTSPO-19027 Testing azapi v2-beta
  components/aks/aks.tf
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes

#641 Update test.tfvars
  environments/aks/test.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes

#648 Update init.tf
  azure-pipelines.yml
  components/aks/init.tf
  environments/aks/stg.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes

#650 Fix image cleaner interval to camelCase
  components/aks/aks.tf
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes

#651 Switch to azurerm_federated_identity_credential in sbox
  components/aks/aks.tf
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructure/destroy, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes

#652 Revert "Switch to azurerm_federated_identity_credential in sbox"
  components/aks/aks.tf
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/no-changes, Aks_test - DeployInfrastructure/no-changes, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes
