Repository hmcts/aks-sds-deploy, pull requests merged in 2024-09, with the labels that each got.

#607 update max nodes on stg (match prod)
  environments/aks/stg.tfvars
Labels: Managed_Identity_sbox/add-or-update, Aks_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_demo/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Network_stg/add-or-update, Network_dev/add-or-update

#608 Required as ss-dev speaks to pre-stg
  environments/01-network/dev.tfvars
Labels: Managed_Identity_sbox/add-or-update, Aks_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_demo/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Network_stg/add-or-update, Network_dev/add-or-update

#609 Upgrade 00 to 1.30
  environments/aks/sbox.tfvars
Labels: Managed_Identity_sbox/add-or-update, Aks_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Network_demo/add-or-update, Network_stg/add-or-update, Network_dev/add-or-update

#611 Upgrade 01 to 1.30
  environments/aks/sbox.tfvars
Labels: Managed_Identity_sbox/add-or-update, Aks_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Network_demo/add-or-update, Network_stg/add-or-update, Network_dev/add-or-update

#610 Adding bau-bais to the nle network
  environments/01-network/stg.tfvars
Labels: Managed_Identity_sbox/add-or-update, Aks_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Network_demo/add-or-update, Network_stg/add-or-update, Network_dev/add-or-update

#613 Upgrade SDS PTLSBOX to 1.30
  environments/aks/ptlsbox.tfvars
Labels: Managed_Identity_sbox/add-or-update, Aks_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Network_demo/add-or-update, Network_stg/add-or-update, Network_dev/add-or-update

#612 Updated changes to persisits during testing
  environments/01-network/demo.tfvars
Labels: Managed_Identity_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Genesis_test/no-changes, Aks_ptlsbox/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Aks_sbox/no-changes, Aks_test/no-changes, Aks_demo/no-changes, Network_demo/add-or-update, Aks_ithc/no-changes, Network_stg/add-or-update, Network_dev/add-or-update

#615 patch/DTSPO-18668-upgrade-dev
  environments/aks/dev.tfvars
Labels: Aks_sbox/add-or-update, Aks_test/add-or-update, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Aks_stg/add-or-update, Aks_dev/add-or-update, Aks_prod/add-or-update, Aks_ptl/no-changes

#616 Revert changes for egress interface
  environments/01-network/demo.tfvars
Labels: Managed_Identity_sbox/add-or-update, Aks_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Network_demo/add-or-update, Network_stg/add-or-update, Network_dev/add-or-update

#617 Upgrade 00 demo
  environments/aks/demo.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/add-or-update, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update

#620 Reverting routes back to single nic
  environments/01-network/demo.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/add-or-update, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/no-changes, Aks_test - DeployInfrastructure/no-changes

#619 Upgrade 01 demo
  environments/aks/demo.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/add-or-update, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/no-changes, Aks_test - DeployInfrastructure/no-changes

#622 Test 00 AKS upgrade
  components/00-genesis/00-init.tf
  components/05-mis/00-init.tf
  components/07-network-rg/00-init.tf
  components/aks/init.tf
  environments/aks/test.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/add-or-update, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes

#621 Update DARTS ingress to persistent LB FE
  environments/01-network/demo.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/add-or-update, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_stg - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/no-changes, Aks_test - DeployInfrastructure/no-changes, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/no-changes

#624 cleanup as ss-dev does not use NAT addresses now if internal HMCTS Azure
  environments/01-network/dev.tfvars
  environments/01-network/stg.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/add-or-update, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes

#623 Update test 01 to latest AKS
  environments/aks/test.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_stg - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/no-changes, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/no-changes, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes, Aks_dev - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes

#626 Update stg 00 to latest AKS version
  environments/aks/stg.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/add-or-update, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_stg - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/no-changes, Aks_test - DeployInfrastructure/no-changes, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/no-changes, Network_stg - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes, Aks_dev - DeployInfrastructure/no-changes

#629 Update ss ptl to latest AKS version
  environments/aks/ptl.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/add-or-update, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes

#630 Backfill ss prod 00 upgrade to code
  environments/aks/prod.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_stg - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/no-changes, Aks_test - DeployInfrastructure/no-changes, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/no-changes, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes, Aks_dev - DeployInfrastructure/no-changes

#631 Upgrade prod-01 to latest
  environments/aks/prod.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes

#632 temporary setting as NAT still in place
  components/00-genesis/00-init.tf
  environments/01-network/dev.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes

#633 Remove ss-stg-vnet route
  environments/01-network/dev.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/destroy

#634 Increase stg nodepool scaling limit
  environments/aks/stg.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_stg - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/no-changes, Aks_test - DeployInfrastructure/no-changes, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/no-changes, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes, Aks_dev - DeployInfrastructure/no-changes
