Repository hmcts/aks-sds-deploy, pull requests merged in 2024-07, with the labels that each got.

#591 fix: expand ITHC route
  environments/01-network/ptl.tfvars
Labels: Managed_Identity_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Genesis_test/no-changes, Aks_ptlsbox/add-or-update, Network_ithc/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_test/no-changes, Network_ptlsbox/no-changes, Network_stg/no-changes, Network_demo/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Aks_sbox/no-changes, Aks_test/no-changes, Aks_stg/no-changes, Aks_demo/no-changes, Aks_dev/no-changes, Aks_ithc/no-changes, Network_ptl/destroy

#594 fix: expand ss test aks route to include the whole vnet
  environments/01-network/ptl.tfvars
Labels: Managed_Identity_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Genesis_test/no-changes, Aks_ptlsbox/add-or-update, Network_ithc/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_test/no-changes, Network_ptlsbox/no-changes, Network_stg/no-changes, Network_demo/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Aks_sbox/no-changes, Aks_test/no-changes, Aks_stg/no-changes, Aks_demo/no-changes, Aks_dev/no-changes, Aks_ithc/no-changes, Network_ptl/destroy

#595 DTSPO-18090: ITHC - enable node os image upgrades
  components/aks/aks.tf
  environments/aks/ithc.tfvars
Labels: Managed_Identity_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_test/no-changes, Network_ptlsbox/no-changes, Network_stg/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Aks_sbox/no-changes, Aks_test/no-changes, Aks_stg/no-changes, Aks_demo/no-changes, Network_demo/add-or-update, Aks_dev/no-changes

#596 DTSPO-18090: enable node os image upgrades non-prod
  components/aks/aks.tf
  environments/aks/demo.tfvars
  environments/aks/dev.tfvars
  environments/aks/ptlsbox.tfvars
  environments/aks/stg.tfvars
  environments/aks/test.tfvars
Labels: Managed_Identity_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_stg/no-changes, Network_demo/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Aks_sbox/no-changes, Aks_ithc/no-changes

#597 DTSPO-18086: Prod: enable node os updates in ptl & prod
  components/aks/aks.tf
  environments/aks/prod.tfvars
  environments/aks/ptl.tfvars
Labels: Managed_Identity_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_ptl/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Network_stg/no-changes, Network_demo/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_sbox/no-changes, Aks_test/no-changes, Aks_demo/no-changes, Aks_dev/no-changes

#598 feat: added AppGw Routes for JBox access
  environments/01-network/demo.tfvars
  environments/01-network/dev.tfvars
  environments/01-network/ithc.tfvars
  environments/01-network/prod.tfvars
  environments/01-network/stg.tfvars
  environments/01-network/test.tfvars
Labels: Managed_Identity_sbox/add-or-update, Aks_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Network_ptl/no-changes, Network_sbox/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes, Network_demo/add-or-update, Network_stg/add-or-update, Network_dev/add-or-update, Network_test/add-or-update, Network_prod/add-or-update, Network_ithc/add-or-update

#599 Staging monitoring enabled
  environments/aks/stg.tfvars
Labels: Managed_Identity_sbox/add-or-update, Aks_sbox/add-or-update, Genesis_ithc/no-changes, Genesis_demo/no-changes, Genesis_ptl/no-changes, Genesis_stg/no-changes, Genesis_ptlsbox/no-changes, Genesis_prod/no-changes, Genesis_dev/no-changes, Genesis_sbox/no-changes, Aks_test/add-or-update, Genesis_test/no-changes, Aks_ithc/add-or-update, Aks_ptlsbox/add-or-update, Aks_demo/add-or-update, Network_ptl/no-changes, Network_ithc/no-changes, Network_dev/no-changes, Network_sbox/no-changes, Network_test/no-changes, Aks_stg/add-or-update, Network_ptlsbox/no-changes, Aks_dev/add-or-update, Network_stg/no-changes, Network_demo/no-changes, Network_prod/no-changes, Managed_Identity_ptlsbox/add-or-update, Managed_Identity_ptl/add-or-update, Managed_Identity_test/add-or-update, Managed_Identity_ithc/add-or-update, Managed_Identity_demo/add-or-update, Managed_Identity_stg/add-or-update, Managed_Identity_prod/add-or-update, Aks_prod/add-or-update, Managed_Identity_dev/no-changes, Aks_ptl/no-changes
