Repository hmcts/aks-sds-deploy, pull requests merged in 2025-05, with the labels that each got.

#680 DTSPO-25519 Add routes to heritage nle vnet
  environments/01-network/ptl.tfvars
Labels: 482: Genesis_sbox - Genesis/add-or-update, 482: Network_sbox - NetworkRg/no-changes, 482: Aks_sbox - DeployInfrastructure/add-or-update, 482: Genesis_dev - Genesis/add-or-update, 482: Genesis_ptlsbox - Genesis/add-or-update, 482: Genesis_stg - Genesis/add-or-update, 482: Genesis_ithc - Genesis/add-or-update, 482: Genesis_test - Genesis/add-or-update, 482: Genesis_demo - Genesis/add-or-update, 482: Network_dev - NetworkRg/no-changes, 482: Network_ithc - NetworkRg/no-changes, 482: Network_stg - NetworkRg/no-changes, 482: Network_ptlsbox - NetworkRg/no-changes, 482: Network_demo - NetworkRg/no-changes, 482: Network_test - NetworkRg/no-changes, 482: Network_stg - DeployInfrastructure/no-changes, 482: Aks_ithc - DeployInfrastructure/add-or-update, 482: Aks_stg - DeployInfrastructure/no-changes, 482: Aks_dev - DeployInfrastructure/add-or-update, 482: Aks_ptlsbox - DeployInfrastructure/no-changes, 482: Aks_demo - DeployInfrastructure/add-or-update, 482: Genesis_prod - Genesis/add-or-update, 482: Aks_test - DeployInfrastructure/add-or-update, 482: Genesis_ptl - Genesis/add-or-update, 482: Network_prod - NetworkRg/no-changes, 482: Network_ptl - NetworkRg/no-changes, 482: Aks_prod - DeployInfrastructure/add-or-update, 482: Aks_ptl - DeployInfrastructure/no-changes

#681 Update AKS versions in code after upgrade
  environments/aks/ptlsbox.tfvars
  environments/aks/sbox.tfvars
Labels: 482: Genesis_sbox - Genesis/add-or-update, 482: Network_sbox - NetworkRg/no-changes, 482: Aks_sbox - DeployInfrastructure/add-or-update, 482: Genesis_dev - Genesis/add-or-update, 482: Genesis_ptlsbox - Genesis/add-or-update, 482: Genesis_stg - Genesis/add-or-update, 482: Genesis_ithc - Genesis/add-or-update, 482: Genesis_test - Genesis/add-or-update, 482: Genesis_demo - Genesis/add-or-update, 482: Network_dev - NetworkRg/no-changes, 482: Network_ithc - NetworkRg/no-changes, 482: Network_stg - NetworkRg/no-changes, 482: Network_ptlsbox - NetworkRg/no-changes, 482: Network_demo - NetworkRg/no-changes, 482: Network_test - NetworkRg/no-changes, 482: Network_stg - DeployInfrastructure/no-changes, 482: Aks_ithc - DeployInfrastructure/add-or-update, 482: Aks_stg - DeployInfrastructure/no-changes, 482: Aks_dev - DeployInfrastructure/add-or-update, 482: Aks_demo - DeployInfrastructure/add-or-update, 482: Genesis_prod - Genesis/add-or-update, 482: Aks_test - DeployInfrastructure/add-or-update, 482: Genesis_ptl - Genesis/add-or-update, 482: Network_prod - NetworkRg/no-changes, 482: Network_ptl - NetworkRg/no-changes, 482: Aks_prod - DeployInfrastructure/add-or-update, 482: Aks_ptl - DeployInfrastructure/no-changes, 482: Network_ptl - DeployInfrastructure/no-changes

#682 DTSPO-25673 Upgrade SDS cluster to 1.32
  environments/aks/ithc.tfvars
Labels: 482: Genesis_sbox - Genesis/add-or-update, 482: Network_sbox - NetworkRg/no-changes, 482: Aks_sbox - DeployInfrastructure/add-or-update, 482: Genesis_dev - Genesis/add-or-update, 482: Genesis_ptlsbox - Genesis/add-or-update, 482: Genesis_stg - Genesis/add-or-update, 482: Genesis_ithc - Genesis/add-or-update, 482: Genesis_test - Genesis/add-or-update, 482: Genesis_demo - Genesis/add-or-update, 482: Network_dev - NetworkRg/no-changes, 482: Network_ithc - NetworkRg/no-changes, 482: Network_stg - NetworkRg/no-changes, 482: Network_ptlsbox - NetworkRg/no-changes, 482: Network_demo - NetworkRg/no-changes, 482: Network_test - NetworkRg/no-changes, 482: Network_stg - DeployInfrastructure/no-changes, 482: Aks_ithc - DeployInfrastructure/add-or-update, 482: Aks_stg - DeployInfrastructure/no-changes, 482: Aks_dev - DeployInfrastructure/add-or-update, 482: Aks_demo - DeployInfrastructure/add-or-update, 482: Genesis_prod - Genesis/add-or-update, 482: Aks_test - DeployInfrastructure/add-or-update, 482: Genesis_ptl - Genesis/add-or-update, 482: Network_prod - NetworkRg/no-changes, 482: Network_ptl - NetworkRg/no-changes, 482: Aks_prod - DeployInfrastructure/add-or-update, 482: Aks_ptl - DeployInfrastructure/no-changes, 482: Network_ptl - DeployInfrastructure/no-changes

#686 DTSPO-25685 upgraded stg 00 cluster to 1.32
  environments/aks/stg.tfvars
Labels: 482: Genesis_sbox - Genesis/add-or-update, 482: Network_sbox - NetworkRg/no-changes, 482: Genesis_ptlsbox - Genesis/add-or-update, 482: Genesis_stg - Genesis/add-or-update, 482: Genesis_ithc - Genesis/add-or-update, 482: Genesis_test - Genesis/add-or-update, 482: Genesis_demo - Genesis/add-or-update, 482: Network_dev - NetworkRg/no-changes, 482: Network_ithc - NetworkRg/no-changes, 482: Network_stg - NetworkRg/no-changes, 482: Network_ptlsbox - NetworkRg/no-changes, 482: Network_demo - NetworkRg/no-changes, 482: Network_test - NetworkRg/no-changes, 482: Network_stg - DeployInfrastructure/no-changes, 482: Aks_ptlsbox - DeployInfrastructure/no-changes, 482: Genesis_prod - Genesis/add-or-update, 482: Genesis_ptl - Genesis/add-or-update, 482: Network_prod - NetworkRg/no-changes, 482: Network_ptl - NetworkRg/no-changes, 482: Aks_prod - DeployInfrastructure/add-or-update, 482: Aks_ptl - DeployInfrastructure/no-changes, 482: Network_dev - DeployInfrastructure/no-changes, 482: Network_ptl - DeployInfrastructure/no-changes, 482: Genesis_dev - Genesis/no-changes, 482: Aks_stg - DeployInfrastructure/add-or-update, 482: Aks_sbox - DeployInfrastructure/no-changes, 482: Aks_dev - DeployInfrastructure/no-changes, 482: Aks_test - DeployInfrastructure/no-changes, 482: Aks_ithc - DeployInfrastructure/no-changes, 482: Aks_demo - DeployInfrastructure/no-changes

#687 DTSPO 25559 - Disabling oms_agent_enabled in ss-test
  environments/aks/test.tfvars
Labels: 482: Genesis_sbox - Genesis/add-or-update, 482: Network_sbox - NetworkRg/no-changes, 482: Aks_sbox - DeployInfrastructure/add-or-update, 482: Genesis_dev - Genesis/add-or-update, 482: Genesis_ptlsbox - Genesis/add-or-update, 482: Genesis_stg - Genesis/add-or-update, 482: Genesis_ithc - Genesis/add-or-update, 482: Genesis_test - Genesis/add-or-update, 482: Genesis_demo - Genesis/add-or-update, 482: Network_dev - NetworkRg/no-changes, 482: Network_ithc - NetworkRg/no-changes, 482: Network_stg - NetworkRg/no-changes, 482: Network_ptlsbox - NetworkRg/no-changes, 482: Network_demo - NetworkRg/no-changes, 482: Network_test - NetworkRg/no-changes, 482: Network_stg - DeployInfrastructure/no-changes, 482: Aks_ithc - DeployInfrastructure/add-or-update, 482: Aks_stg - DeployInfrastructure/no-changes, 482: Aks_dev - DeployInfrastructure/add-or-update, 482: Aks_demo - DeployInfrastructure/add-or-update, 482: Genesis_prod - Genesis/add-or-update, 482: Aks_test - DeployInfrastructure/add-or-update, 482: Genesis_ptl - Genesis/add-or-update, 482: Network_prod - NetworkRg/no-changes, 482: Network_ptl - NetworkRg/no-changes, 482: Aks_prod - DeployInfrastructure/add-or-update, 482: Aks_ptl - DeployInfrastructure/no-changes, 482: Network_ptl - DeployInfrastructure/no-changes

#689 fix: 10.1.97.0/32 -> 10.1.97.0/24
  environments/01-network/prod-pinned-aks-routes.yaml
Labels: 482: Genesis_sbox - Genesis/add-or-update, 482: Network_sbox - NetworkRg/no-changes, 482: Genesis_dev - Genesis/add-or-update, 482: Genesis_ptlsbox - Genesis/add-or-update, 482: Genesis_stg - Genesis/add-or-update, 482: Genesis_ithc - Genesis/add-or-update, 482: Genesis_test - Genesis/add-or-update, 482: Genesis_demo - Genesis/add-or-update, 482: Network_dev - NetworkRg/no-changes, 482: Network_ithc - NetworkRg/no-changes, 482: Network_stg - NetworkRg/no-changes, 482: Network_ptlsbox - NetworkRg/no-changes, 482: Network_demo - NetworkRg/no-changes, 482: Network_test - NetworkRg/no-changes, 482: Network_stg - DeployInfrastructure/no-changes, 482: Aks_stg - DeployInfrastructure/no-changes, 482: Genesis_prod - Genesis/add-or-update, 482: Genesis_ptl - Genesis/add-or-update, 482: Network_prod - NetworkRg/no-changes, 482: Network_ptl - NetworkRg/no-changes, 482: Aks_prod - DeployInfrastructure/add-or-update, 482: Aks_ptl - DeployInfrastructure/no-changes, 482: Network_dev - DeployInfrastructure/no-changes, 482: Network_ptl - DeployInfrastructure/no-changes, 482: Aks_sbox - DeployInfrastructure/no-changes, 482: Aks_dev - DeployInfrastructure/no-changes, 482: Aks_test - DeployInfrastructure/no-changes, 482: Aks_ithc - DeployInfrastructure/no-changes, 482: Aks_demo - DeployInfrastructure/no-changes
