Repository hmcts/aks-sds-deploy, pull requests merged in 2025-03, with the labels that each got.

#665 Scale staging cluster
  environments/aks/stg.tfvars
Labels: Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/no-changes, Genesis_stg - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_test - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Genesis_prod - Genesis/no-changes, Genesis_ptl - Genesis/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Genesis_sbox - Genesis/add-or-update, Genesis_ithc - Genesis/add-or-update

#667 DTSPO-24310: Giving dev and demo MI contributor access to genesis-rg
  components/05-mis/10-managed-identity.tf
Labels: Aks_sbox - DeployInfrastructure/add-or-update, Network_demo - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/add-or-update, Network_dev - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Network_ptl - DeployInfrastructure/add-or-update, Genesis_sbox - Genesis/add-or-update, Genesis_ithc - Genesis/add-or-update, Network_sbox - NetworkRg/add-or-update, Network_sbox - DeployInfrastructure/add-or-update, Genesis_demo - Genesis/add-or-update, Genesis_test - Genesis/add-or-update, Genesis_ptlsbox - Genesis/add-or-update, Genesis_dev - Genesis/add-or-update, Genesis_stg - Genesis/add-or-update, Network_demo - NetworkRg/add-or-update, Network_test - NetworkRg/add-or-update, Network_ithc - NetworkRg/add-or-update, Network_stg - NetworkRg/add-or-update, Network_ptlsbox - NetworkRg/add-or-update, Network_dev - NetworkRg/add-or-update, Network_test - DeployInfrastructure/add-or-update, Network_ithc - DeployInfrastructure/add-or-update, Genesis_ptl - Genesis/add-or-update, Genesis_prod - Genesis/add-or-update, Network_prod - NetworkRg/add-or-update, Network_ptl - NetworkRg/add-or-update, Network_prod - DeployInfrastructure/add-or-update

#668 DTSPO-22075 - comment out higher env and aks-mi input variable
  azure-pipelines.yml
  components/aks/aks.tf
Labels: Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Network_ithc - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Aks_ithc - DeployInfrastructure/destroy, Aks_sbox - DeployInfrastructure/destroy, Genesis_sbox - Genesis/add-or-update, Genesis_ithc - Genesis/add-or-update

#670 DTSPO- 22075 - uncomment dev and demo
  azure-pipelines.yml
Labels: Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/destroy, Aks_demo - DeployInfrastructure/destroy, Network_demo - DeployInfrastructure/no-changes, Genesis_sbox - Genesis/add-or-update, Genesis_ithc - Genesis/add-or-update, Genesis_demo - Genesis/add-or-update, Genesis_dev - Genesis/add-or-update
