Repository hmcts/aks-sds-deploy, pull requests merged in 2025-04, with the labels that each got.

#672 disable aks logging on test and stg
  environments/aks/stg.tfvars
  environments/aks/test.tfvars
Labels: Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Network_demo - DeployInfrastructure/no-changes, Genesis_sbox - Genesis/add-or-update, Genesis_ithc - Genesis/add-or-update, Genesis_demo - Genesis/add-or-update, Genesis_test - Genesis/add-or-update, Genesis_ptlsbox - Genesis/add-or-update, Genesis_dev - Genesis/add-or-update

#674 DTSPO-22075 - Comment out higher env
  azure-pipelines.yml
  components/aks/aks.tf
Labels: Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/destroy, Aks_dev - DeployInfrastructure/destroy, Aks_stg - DeployInfrastructure/destroy, Aks_test - DeployInfrastructure/destroy, Aks_demo - DeployInfrastructure/destroy, Aks_ptl - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructure/destroy, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes, Aks_ptlsbox - DeployInfrastructure/destroy, Genesis_sbox - Genesis/add-or-update, Genesis_ithc - Genesis/add-or-update, Genesis_demo - Genesis/add-or-update, Genesis_test - Genesis/add-or-update, Genesis_ptlsbox - Genesis/add-or-update, Genesis_stg - Genesis/add-or-update, Genesis_ptl - Genesis/add-or-update, Genesis_prod - Genesis/add-or-update

#675 DTSPO-24310: Updating bootstrap to use workload identity for flux
  bootstrap/deploy-flux-util-functions.sh
  bootstrap/deploy-flux.sh
Labels: Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_dev - Genesis/no-changes, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Managed_Identity_dev - Managed_Identity/no-changes, Aks_ptlsbox - DeployInfrastructure/add-or-update, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/no-changes, Aks_test - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/no-changes, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes, Aks_dev - DeployInfrastructure/no-changes, Genesis_sbox - Genesis/add-or-update, Genesis_demo - Genesis/add-or-update, Genesis_test - Genesis/add-or-update, Genesis_stg - Genesis/add-or-update, Genesis_ptl - Genesis/add-or-update, Genesis_prod - Genesis/add-or-update, Aks_stg - DeployInfrastructure/no-changes

#678 DTSPO-24310: Uncommenting prod in azure-pipelines to add back to pipeline steps
  azure-pipelines.yml
Labels: Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/no-changes, Genesis_sbox - Genesis/add-or-update, Genesis_ithc - Genesis/add-or-update, Genesis_demo - Genesis/add-or-update, Genesis_test - Genesis/add-or-update, Genesis_ptlsbox - Genesis/add-or-update, Genesis_dev - Genesis/add-or-update, Genesis_stg - Genesis/add-or-update, Genesis_ptl - Genesis/add-or-update, Genesis_prod - Genesis/add-or-update, Aks_stg - DeployInfrastructure/no-changes

#679 temporary enabling oms_agent_enabled in ss-test
  environments/aks/test.tfvars
Labels: Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Network_ithc - NetworkRg/no-changes, Network_demo - NetworkRg/no-changes, Network_stg - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_test - NetworkRg/no-changes, Network_dev - NetworkRg/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_test - DeployInfrastructure/no-changes, Network_dev - DeployInfrastructure/add-or-update, Network_ptlsbox - DeployInfrastructure/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_stg - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructure/add-or-update, Aks_dev - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_test - DeployInfrastructure/add-or-update, Network_prod - NetworkRg/no-changes, Network_ptl - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Network_stg - DeployInfrastructure/no-changes, Network_demo - DeployInfrastructure/no-changes, Genesis_sbox - Genesis/add-or-update, Genesis_ithc - Genesis/add-or-update, Genesis_demo - Genesis/add-or-update, Genesis_test - Genesis/add-or-update, Genesis_ptlsbox - Genesis/add-or-update, Genesis_dev - Genesis/add-or-update, Genesis_stg - Genesis/add-or-update, Genesis_ptl - Genesis/add-or-update, Genesis_prod - Genesis/add-or-update
